<template>
  <l-map class="map" ref="map" :zoom="zoom" :center="center" @click="mapclick">
    <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
    <l-marker :lat-lng="marker"></l-marker>
    <l-geo-json :geojson="geojson" v-if="inschool"></l-geo-json>
  </l-map>
</template>

<style scoped>
.map {
  z-index: 0;
}
</style>

<script>
import axios from "axios";
import * as geolib from "geolib";
export default {
  props: ["coordinates", "builtmap"],
  data() {
    return {
      zoom: 13,
      center: L.latLng(this.coordinates.latitude, this.coordinates.longitude),
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      inschool: false,
      routing: undefined,
      attribution:
        '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      marker: L.latLng(this.coordinates.latitude, this.coordinates.longitude),
      accelerometer: { x: 0, y: 0, z: 0 },
      second: {
        "type": "FeatureCollection",
        "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
        "features": [
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72755267535442, 62.026736034460846 ], [ 129.72776367439693, 62.026824970062826 ], [ 129.72797148256751, 62.026716174293533 ], [ 129.72776048367609, 62.026627239007418 ], [ 129.72755267535442, 62.026736034460846 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72776048367609, 62.026627239007418 ], [ 129.72784470010185, 62.026662736034069 ], [ 129.72787623924827, 62.026646223988479 ], [ 129.72779202283166, 62.026610726980977 ], [ 129.72776048367609, 62.026627239007418 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72784470010185, 62.026662736034069 ], [ 129.72791524276437, 62.026692469497966 ], [ 129.72794678190311, 62.02667595743636 ], [ 129.72787623924827, 62.026646223988479 ], [ 129.72784470010185, 62.026662736034069 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72791524276437, 62.026692469497966 ], [ 129.72797148256763, 62.026716174293497 ], [ 129.72800302170026, 62.026699662219073 ], [ 129.72794678190311, 62.02667595743636 ], [ 129.72791524276437, 62.026692469497966 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 3 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72779202283166, 62.026610726980977 ], [ 129.72790961298827, 62.02666029089869 ], [ 129.72796115838148, 62.026633304687294 ], [ 129.72784356824573, 62.026583740813201 ], [ 129.72779202283166, 62.026610726980977 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72790961298827, 62.02666029089869 ], [ 129.72800302170015, 62.02669966221913 ], [ 129.72805456707673, 62.026672675972996 ], [ 129.72796115838148, 62.026633304687294 ], [ 129.72790961298827, 62.02666029089869 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72784356824573, 62.026583740813201 ], [ 129.72793381013349, 62.026621777509781 ], [ 129.72811403904115, 62.026527419508739 ], [ 129.72802379720946, 62.026489382929363 ], [ 129.72784356824573, 62.026583740813201 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72802371308609, 62.026574709342086 ], [ 129.72818071255787, 62.026640883719374 ], [ 129.72827103846404, 62.026593593783858 ], [ 129.72811403904115, 62.026527419508739 ], [ 129.72802371308609, 62.026574709342086 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72817803511253, 62.026642285487021 ], [ 129.7283496164323, 62.026714605497759 ], [ 129.72844261972881, 62.026665913679615 ], [ 129.72827103846404, 62.026593593783858 ], [ 129.72817803511253, 62.026642285487021 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.7283496164323, 62.026714605497759 ], [ 129.7283984776621, 62.0267351999724 ], [ 129.72849148094292, 62.026686508121536 ], [ 129.72844261972881, 62.026665913679615 ], [ 129.7283496164323, 62.026714605497759 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.7283984776621, 62.0267351999724 ], [ 129.72843723428218, 62.026751535432233 ], [ 129.72853023755061, 62.026702843555398 ], [ 129.72849148094292, 62.026686508121536 ], [ 129.7283984776621, 62.0267351999724 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72843723428218, 62.026751535432233 ], [ 129.72853666975334, 62.026793446184293 ], [ 129.72862967298988, 62.026744754240845 ], [ 129.72853023755061, 62.026702843555398 ], [ 129.72843723428218, 62.026751535432233 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72853666975334, 62.026793446184293 ], [ 129.72856876631039, 62.026806974423749 ], [ 129.72866176953664, 62.0267582824588 ], [ 129.72862967298988, 62.026744754240845 ], [ 129.72853666975334, 62.026793446184293 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72856876631039, 62.026806974423749 ], [ 129.7286000149814, 62.026820145272602 ], [ 129.72869301819759, 62.026771453286663 ], [ 129.72866176953664, 62.0267582824588 ], [ 129.72856876631039, 62.026806974423749 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.7286000149814, 62.026820145272602 ], [ 129.72864847680762, 62.026840571173061 ], [ 129.72874148000832, 62.026791879154707 ], [ 129.72869301819759, 62.026771453286663 ], [ 129.7286000149814, 62.026820145272602 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72864847680762, 62.026840571173061 ], [ 129.728723978977, 62.026872394065784 ], [ 129.72881698215349, 62.02682370199684 ], [ 129.72874148000832, 62.026791879154707 ], [ 129.72864847680762, 62.026840571173061 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.728723978977, 62.026872394065784 ], [ 129.72885058858606, 62.026925757640882 ], [ 129.72894359172196, 62.026877065487099 ], [ 129.72881698215349, 62.02682370199684 ], [ 129.728723978977, 62.026872394065784 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 0 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72817803511253, 62.02664228548705 ], [ 129.72818071255787, 62.026640883719388 ], [ 129.72802371308609, 62.026574709342086 ], [ 129.72793381013349, 62.026621777509781 ], [ 129.72809080965385, 62.026687951988755 ], [ 129.72809080965413, 62.026687951988606 ], [ 129.7287633633299, 62.026971424565062 ], [ 129.72885092135189, 62.027008328494937 ], [ 129.7289381465817, 62.026962661515739 ], [ 129.72903114968952, 62.02691396930328 ], [ 129.72894359172196, 62.026877065487099 ], [ 129.72885058858606, 62.026925757640882 ], [ 129.72817803511253, 62.02664228548705 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 3 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72829015637498, 62.026771974918333 ], [ 129.72823231689785, 62.026802256517954 ], [ 129.72828870890746, 62.026826025147336 ], [ 129.72834654837331, 62.026795743524218 ], [ 129.72829015637498, 62.026771974918333 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 3 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72845451728841, 62.026841251063878 ], [ 129.72839667784405, 62.026871532731995 ], [ 129.72845047778236, 62.0268942086647 ], [ 129.72850831721598, 62.026863926974137 ], [ 129.72845451728841, 62.026841251063878 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72828870890746, 62.026826025147336 ], [ 129.72834264774681, 62.026848759735259 ], [ 129.72840048720195, 62.026818478089652 ], [ 129.72834654837331, 62.026795743524218 ], [ 129.72828870890746, 62.026826025147336 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72834264774681, 62.026848759735259 ], [ 129.72839667784405, 62.026871532731995 ], [ 129.72845451728841, 62.026841251063878 ], [ 129.72840048720195, 62.026818478089652 ], [ 129.72834264774681, 62.026848759735259 ] ] ] ] } }
        ]
      },
      first: {
        "type": "FeatureCollection",
        "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
        "features": [
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72768155194987, 62.026668562855789 ], [ 129.72779914215135, 62.026718126867159 ], [ 129.72781605363352, 62.026709273039515 ], [ 129.727698463439, 62.026659709042534 ], [ 129.72768155194987, 62.026668562855789 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72772561147326, 62.026645495990046 ], [ 129.72784320165681, 62.026695059964034 ], [ 129.72786011311339, 62.026686206131011 ], [ 129.72774252293672, 62.026636642171347 ], [ 129.72772561147326, 62.026645495990046 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.727698463439, 62.026659709042534 ], [ 129.72781605363352, 62.026709273039515 ], [ 129.72782962764833, 62.026702166502439 ], [ 129.72771203745927, 62.02665260251694 ], [ 129.727698463439, 62.026659709042534 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72771203745927, 62.02665260251694 ], [ 129.72782962764833, 62.026702166502439 ], [ 129.72784320165681, 62.026695059964034 ], [ 129.72772561147326, 62.026645495990046 ], [ 129.72771203745927, 62.02665260251694 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72774252293672, 62.026636642171347 ], [ 129.72786011311339, 62.026686206131011 ], [ 129.72788486306138, 62.026673248517092 ], [ 129.72776727289471, 62.026623684578368 ], [ 129.72774252293672, 62.026636642171347 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72776727289471, 62.026623684578368 ], [ 129.72788486306138, 62.026673248517092 ], [ 129.72790961298827, 62.026660290898704 ], [ 129.72779202283164, 62.026610726980962 ], [ 129.72776727289471, 62.026623684578368 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 3 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72779202283164, 62.026610726980962 ], [ 129.72790961298827, 62.026660290898704 ], [ 129.72796115838153, 62.026633304687294 ], [ 129.7278435682457, 62.026583740813201 ], [ 129.72779202283164, 62.026610726980962 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.7278435682457, 62.026583740813201 ], [ 129.72793381013349, 62.026621777509767 ], [ 129.72811403904115, 62.026527419508739 ], [ 129.72802379720946, 62.026489382929348 ], [ 129.7278435682457, 62.026583740813201 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72793381013349, 62.026621777509767 ], [ 129.72809080965385, 62.026687951988741 ], [ 129.72827103846402, 62.026593593783844 ], [ 129.72811403904115, 62.026527419508739 ], [ 129.72793381013349, 62.026621777509767 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72827103846402, 62.026593593783844 ], [ 129.72817803511251, 62.026642285486993 ], [ 129.7283496164323, 62.026714605497745 ], [ 129.72844261972881, 62.026665913679587 ], [ 129.72827103846402, 62.026593593783844 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.7283496164323, 62.026714605497745 ], [ 129.72839847766207, 62.0267351999724 ], [ 129.72849148094289, 62.026686508121522 ], [ 129.72844261972881, 62.026665913679587 ], [ 129.7283496164323, 62.026714605497745 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72839847766207, 62.0267351999724 ], [ 129.72843723428218, 62.026751535432233 ], [ 129.72853023755061, 62.026702843555412 ], [ 129.72849148094289, 62.026686508121522 ], [ 129.72839847766207, 62.0267351999724 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72853666975331, 62.026793446184278 ], [ 129.72856876631039, 62.026806974423728 ], [ 129.72866176953664, 62.0267582824588 ], [ 129.72862967298985, 62.026744754240831 ], [ 129.72853666975331, 62.026793446184278 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72856876631039, 62.026806974423728 ], [ 129.72860001498137, 62.026820145272588 ], [ 129.72869301819759, 62.026771453286649 ], [ 129.72866176953664, 62.0267582824588 ], [ 129.72856876631039, 62.026806974423728 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72860001498137, 62.026820145272588 ], [ 129.72864847680765, 62.02684057117304 ], [ 129.7287414800083, 62.026791879154679 ], [ 129.72869301819759, 62.026771453286649 ], [ 129.72860001498137, 62.026820145272588 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 2 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72864847680765, 62.02684057117304 ], [ 129.728723978977, 62.026872394065769 ], [ 129.72881698215349, 62.026823701996854 ], [ 129.7287414800083, 62.026791879154679 ], [ 129.72864847680765, 62.02684057117304 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.728723978977, 62.026872394065769 ], [ 129.72885058858603, 62.026925757640875 ], [ 129.72894359172193, 62.026877065487113 ], [ 129.72881698215349, 62.026823701996854 ], [ 129.728723978977, 62.026872394065769 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 3 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72829015637498, 62.026771974918304 ], [ 129.72823231689785, 62.026802256517954 ], [ 129.72828870890743, 62.026826025147329 ], [ 129.72834654837331, 62.026795743524204 ], [ 129.72829015637498, 62.026771974918304 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72828870890743, 62.026826025147329 ], [ 129.72834264774681, 62.02684875973523 ], [ 129.72840048720195, 62.026818478089652 ], [ 129.72834654837331, 62.026795743524204 ], [ 129.72828870890743, 62.026826025147329 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72834264774681, 62.02684875973523 ], [ 129.72839667784405, 62.026871532731981 ], [ 129.72845451728844, 62.026841251063892 ], [ 129.72840048720195, 62.026818478089652 ], [ 129.72834264774681, 62.02684875973523 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 3 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72839667784405, 62.026871532731981 ], [ 129.72845047778236, 62.026894208664686 ], [ 129.72850831721598, 62.026863926974137 ], [ 129.72845451728844, 62.026841251063892 ], [ 129.72839667784405, 62.026871532731981 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72805456707673, 62.026672675972975 ], [ 129.72796115838153, 62.026633304687294 ], [ 129.72790961298827, 62.026660290898704 ], [ 129.72800302170012, 62.026699662219116 ], [ 129.72805456707673, 62.026672675972975 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72800302170012, 62.026699662219116 ], [ 129.72790961298827, 62.026660290898704 ], [ 129.7277303275819, 62.026754153932664 ], [ 129.7278237363515, 62.026793525373705 ], [ 129.72800302170012, 62.026699662219116 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72770635531404, 62.026766704306034 ], [ 129.72779976409143, 62.02680607576314 ], [ 129.72782373635161, 62.026793525373641 ], [ 129.7277303275819, 62.026754153932664 ], [ 129.72770635531404, 62.026766704306034 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.727670265608, 62.026785598581341 ], [ 129.72776367439693, 62.026824970062826 ], [ 129.72779976409134, 62.02680607576319 ], [ 129.72770635531404, 62.026766704306034 ], [ 129.727670265608, 62.026785598581341 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72809628869422, 62.026685083467072 ], [ 129.72809080965385, 62.026687951988741 ], [ 129.72885092135189, 62.027008328494937 ], [ 129.72885640037762, 62.02700545994346 ], [ 129.72885640037762, 62.02700545994346 ], [ 129.7289381465817, 62.026962661515725 ], [ 129.72903114968952, 62.02691396930328 ], [ 129.72894359172193, 62.026877065487113 ], [ 129.72885058858603, 62.026925757640875 ], [ 129.72853666975334, 62.026793446184278 ], [ 129.72862967298985, 62.026744754240831 ], [ 129.72853023755061, 62.026702843555412 ], [ 129.72843723428224, 62.026751535432219 ], [ 129.72817803511256, 62.026642285486993 ], [ 129.72809628869422, 62.026685083467072 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72777237352176, 62.026732141285279 ], [ 129.72779914215135, 62.026718126867159 ], [ 129.72768155194987, 62.026668562855789 ], [ 129.7276547833095, 62.026682577251307 ], [ 129.72762177421097, 62.026699858737636 ], [ 129.72773936443662, 62.026749422799575 ], [ 129.72777237352176, 62.026732141285279 ] ] ] ] } },
        { "type": "Feature", "properties": { "id": null, "For ME": 1 }, "geometry": { "type": "MultiPolygon", "coordinates": [ [ [ [ 129.72770635531404, 62.026766704306034 ], [ 129.72773936443662, 62.026749422799575 ], [ 129.72762177421097, 62.026699858737636 ], [ 129.72758876507501, 62.026717140216093 ], [ 129.72755267535442, 62.026736034460853 ], [ 129.727670265608, 62.026785598581341 ], [ 129.72770635531404, 62.026766704306034 ] ] ] ] } }
        ]
      },
      geojson: ''
    };
  },
  created() {},
  mounted() {
    let toolbar = document.querySelector(".toolbar");
    let map = document.querySelector(".map");
    map.style.height = map.clientHeight - toolbar.clientHeight + "px";
    let accelerometer = new Accelerometer({ frequency: 10 });

    accelerometer.addEventListener("reading", e => {
      this.accelerometer.x = accelerometer.x;
      this.accelerometer.y = accelerometer.y;
      this.accelerometer.z = accelerometer.z;
    });
    accelerometer.start();
    this.handleIfInSchool();
  },
  watch: {
    coordinates: function(coordinates) {
      this.coordinates = coordinates;
      this.marker = L.latLng(
        this.coordinates.latitude,
        this.coordinates.longitude
      );
      this.handleIfInSchool();
    },
    inschool: function(inschool) {
      this.$emit("inschool", inschool);
    },
  },
  methods: {
    handleIfInSchool() {
      let is_point_in_polygon = geolib.isPointInPolygon(
          {
            longitude: this.coordinates.longitude,
            latitude: this.coordinates.latitude
          },
          [
            { longitude: 129.72811818122864, latitude: 62.02643276975906 },
            { longitude: 129.729083776474, latitude: 62.026832851883356 },
            { longitude: 129.72860097885132, latitude: 62.02719518587193 },
            { longitude: 129.72832739353177, latitude: 62.027210283027834 },
            { longitude: 129.72823083400726, latitude: 62.02726312301449 },
            { longitude: 129.72769439220428, latitude: 62.0270366652828 },
            { longitude: 129.72749590873718, latitude: 62.02711969998008 },
            { longitude: 129.72714722156525, latitude: 62.02697879248099 },
            { longitude: 129.72811818122864, latitude: 62.02643276975906 }
          ]
        );
      if (is_point_in_polygon && !this.inschool) {
        this.zoom = 500;
        this.center = L.latLng(
          this.coordinates.latitude,
          this.coordinates.longitude
        );
        this.geojson = this.first;
        this.inschool = true;
      }
      else if(!is_point_in_polygon && this.inschool) {
        this.inschool = false;
        this.center = L.latLng(
          this.coordinates.latitude,
          this.coordinates.longitude
        );
        this.zoom = 13;
        this.$emit('changeTitle', '');
      }
      else if(is_point_in_polygon) {
        let floor = this.getFloor();
        this.$emit('changeTitle', `Первая школа (${floor} этаж)`);
      }
    },
    getFloor(){
      if (this.accelerometer.z < 5) {
        this.geojson = this.second;
        return 2;
      } 
      else {
        this.geojson = this.first;
        return 1;
      }
    },
    mapclick(event){
      if (this.builtmap) {
        this.routing = L.Routing.control({
          waypoints: [
            L.latLng(this.coordinates.latitude, this.coordinates.longitude),
            L.latLng(event.latlng.lat, event.latlng.lng)
          ]
        }).addTo(this.$refs.map.mapObject);
        this.builtmap = false;
      }
    }
  }
};
</script>
