<template>
  <div>{{accelerometer.x}} {{accelerometer.y}} {{accelerometer.z}}</div>
</template>
<style>
.toolbar {
  z-index: 1;
}
</style>
<script>
export default {
  name: "App",
  data() {
    return {
      accelerometer: { x: 0, y: 0, z: 0 }
    };
  },
  mounted() {
    alert(123);
    let accelerometer = new Accelerometer({ frequency: 60 });

    accelerometer.addEventListener("reading", e => {
      this.accelerometer.x = accelerometer.x;
      this.accelerometer.y = accelerometer.y;
      this.accelerometer.z = accelerometer.z;
    });
    accelerometer.start();
  },
  methods: {}
};
</script>

