<template>
  <v-app>
    <v-content>
      <v-toolbar class="toolbar" dark style="background: #132d48">
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title style="font-weight: 500">{{pageTitle}}</v-toolbar-title>
      </v-toolbar>
      <v-navigation-drawer
        v-model="drawer"
        absolute
        width="250"
        id="drawer"
        dark
        style="background: #132d48"
      >
        <v-list dense nav>
          <v-list-item link @click="buildmap">
            <v-list-item-icon>
              <v-icon>map</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Построить маршрут</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <div class="left" @click="geosliderNext"></div>
      <div class="right" @click="geosliderPrev"></div>
      <router-view
        v-if="coordinates"
        :coordinates="coordinates"
        :builtmap="builtmap"
        @changeTitle="updateTitle($event)"
        @inschool="inschool($event)"
      ></router-view>
    </v-content>
  </v-app>
</template>
<style>
* i {
  font-family: "Material Icons";
}
.toolbar {
  z-index: 1;
}
.right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}
.left {
  position: absolute;
  bottom: 100px;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
}
</style>
<script>
export default {
  name: "App",
  data() {
    return {
      drawer: false,
      coordinates: undefined,
      pageTitle: this.$route.name,
      builtmap: false,
      id: undefined,
      pathway: [
        { lon: 129.7285687923431, lat: 62.02673094467172 },
        { lon: 129.72855806350708, lat: 62.02673471901896 },
        { lon: 129.728541970253, lat: 62.026735977134614 },
        { lon: 129.7285285592079, lat: 62.026739751481244 },
        { lon: 129.7285231947899, lat: 62.026744783942696 },
        { lon: 129.7285097837448, lat: 62.026751074518344 },
        { lon: 129.72850441932678, lat: 62.02675484886312 },
        { lon: 129.7284910082817, lat: 62.026756106977935 },
        { lon: 129.72848564386368, lat: 62.02675862320739 },
        { lon: 129.72847491502762, lat: 62.02675988132205 },
        { lon: 129.7284695506096, lat: 62.02675988132205 },
        { lon: 129.72845882177353, lat: 62.026762397551224 },
        { lon: 129.72844541072845, lat: 62.02676743000893 },
        { lon: 129.7284373641014, lat: 62.02676617189457 },
        { lon: 129.72842395305634, lat: 62.02676617189457 },
        { lon: 129.72840785980222, lat: 62.02676617189457 },
        { lon: 129.7283837199211, lat: 62.02676743000893 },
        { lon: 129.72837299108505, lat: 62.02676491378017 },
        { lon: 129.72835421562195, lat: 62.02675988132205 },
        { lon: 129.7283434867859, lat: 62.026756106977935 },
        { lon: 129.72833812236786, lat: 62.026751074518344 },
        { lon: 129.72831666469574, lat: 62.026744783942696 },
        { lon: 129.72829788923264, lat: 62.02673849336577 },
        { lon: 129.72828179597855, lat: 62.02672591220798 },
        { lon: 129.72826033830643, lat: 62.02671962162714 },
        { lon: 129.72824156284332, lat: 62.026713331044995 },
        { lon: 129.72823083400726, lat: 62.026708298578335 },
        { lon: 129.7282174229622, lat: 62.02670326611085 },
        { lon: 129.7282013297081, lat: 62.026698233642534 },
        { lon: 129.72818791866302, lat: 62.026689426820994 },
        { lon: 129.728182554245, lat: 62.02668313623259 },
        { lon: 129.72815841436386, lat: 62.02668313623259 },
        { lon: 129.72817182540894, lat: 62.026657973866044 },
        { lon: 129.72815573215485, lat: 62.02666426445963 },
        { lon: 129.728182554245, lat: 62.02667558752483 },
        { lon: 129.72820937633514, lat: 62.026686910585795 },
        { lon: 129.7282201051712, lat: 62.026695717408074 },
        { lon: 129.72822546958923, lat: 62.02668816870343 },
        { lon: 129.72824692726132, lat: 62.026700749876795 },
        { lon: 129.72827643156052, lat: 62.02670704046156 },
        { lon: 129.7282925248146, lat: 62.02672717032399 },
        { lon: 129.72831398248672, lat: 62.026735977134614 },
        { lon: 129.72829520702362, lat: 62.0267410095967 },
        { lon: 129.72834885120392, lat: 62.02677120435165 },
        { lon: 129.72832471132276, lat: 62.026782527377044 },
        { lon: 129.72833544015884, lat: 62.026776236807905 },
        { lon: 129.72831666469574, lat: 62.02676491378017 },
        { lon: 129.72829788923264, lat: 62.026746042057944 }
      ],
      count: 0
    };
  },
  mounted() {
    this.geolocator();
  },
  methods: {
    updateTitle(title) {
      this.pageTitle = title;
      if (!title) {
        this.pageTitle = this.$route.name;
      }
    },
    inschool(inschool) {
      if (inschool) {
        navigator.geolocation.clearWatch(this.id);
        this.changeCoords();
      } else {
        this.geolocator();
        // do smth
      }
    },
    changeCoords() {
      this.coordinates = {
        latitude: this.pathway[this.count].lat,
        longitude: this.pathway[this.count].lon
      };
    },
    geosliderNext() {
      if (this.count < this.pathway.length - 1) {
        console.log("yesyes", this.coordinates);
        this.count += 1;
        this.changeCoords();
      }
    },
    geosliderPrev() {
      if (this.count > 0) {
        this.count -= 1;
        this.changeCoords();
      }
    },
    geolocator() {
      this.id = navigator.geolocation.watchPosition(
        position => {
          this.coordinates = {
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
          };
        },
        () => {
          alert("Пожалуйста, включите геолокацию!");
        },
        { enableHighAccuracy: true, maximumAge: 0 }
      );
    },
    buildmap() {
      this.builtmap = true;
      this.drawer = false;
    }
  }
};
</script>

